body{
text-align: left;
margin: 0px;
padding: 0px;
}

#header {
    height: 100px;
    width: 100px auto;
    background: rgb(100, 134, 148);
    border-bottom: 3px solid orange;
    border-top: 5px solid orange;
    /*FUENTES*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antiliased;
   -moz-font-smoothing: antiliased;
   -moz-osx-font-smoothing: antiliased;
 
}

#logo{
width: 20%;
font-size: 20px;
float: left;
margin-top: 0px;
}

#logo img {
    display: block;
    float: left;
    height: 70px;
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu {
    margin-top: 0px;
    width: 80%;
    float: right;
    font-size: 18px;
}


#menu ul {
line-height: 30px;
width: 70%;
float: left;

}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    }

#btnEscanear{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    background: rgb(235, 146, 14);
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#cerrar{
    position: relative;
    top: 40px;
    left: 650px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    background: rgb(76, 165, 15 );
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#btnreporteDetallado{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    background: rgb(235, 146, 14);
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.Entrada{
    width: 60%;
    height: 150%;
    background: white;
    font-size: 25px;
}